//Useful bootstrap variables
@import "sass-bootstrap/lib/variables";

//using cabin as default font
@import url("http://fonts.googleapis.com/css?family=Cabin:500,700");

//media helper query
$phone-xs-height: 360px;
$phone-sm-height: 460px;
$phone-md-height: 519px;

//Colors
$light-grey: #bfbfbf;
$mid-grey: #58595b;
$lg-pink: #c21a5c;

//Sizes
$header-height:50px;
$footer-height:50px;
$mobile-footer-height:30px;

@media screen and (orientation:landscape) and (max-device-width:1080px)
{
    .orientation-info {
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #000000;
         background-image: url('../images/orientation-change.png');
         background-repeat:no-repeat;
         background-attachment:fixed;
         background-position: 50% 50%;
         z-index:100;
    }
    #wrap {
        visibility: hidden;
        display:none;
    }
}

@import "partials/_scaffold";
@import "partials/_game";
@import "partials/_pages";



