//Useful bootstrap variables
@import "sass-bootstrap/lib/variables";

//using cabin as default font
@import url("http://fonts.googleapis.com/css?family=Cabin:500,700");

//Colors
$light-grey: #bfbfbf;
$mid-grey: #58595b;
$lg-pink: #c21a5c;

//Sizes
$footer_height:60px;
$mobile_footer_height:30px;

@import "partials/_scaffold";
@import "partials/_game";
@import "partials/_pages";



