@mixin white-button() {
    background-color:#fff;
    padding:5px 10px;
    font-size: 1.5rem;
    font-weight:bold;
    text-transform: uppercase;
}

.orientation-info {
    visibility: hidden;
}
@media screen and (orientation:landscape) and (max-device-width:1080px)
{
    .orientation-info {
         position: fixed;
         visibility: visible;
         top: 0px;
         left: 0px;
         width: 100%;
         height: 100%;
         background-color: #000000;
         // background-image: url('../images/orientation-change.png');
         // background-repeat:no-repeat;
         // background-attachment:fixed;
         // background-position: 50% 50%;
         z-index:100;

    }
    div.content {
        display: table;
        width:100%;
        height:100%;
    
        div {
            display:table-cell;
            text-align: center;
            margin:0 auto;
            max-width: 100px;
            vertical-align: middle;
            color:white;

        }
    }
}

.loader {
    position:fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index:101;
    background-color: #000000;


    div.content {
        display: table;
        width:100%;
        height:100%;
    
        div {
            display:table-cell;
            text-align: center;
            margin:0 auto;
            max-width: 100px;
            vertical-align: middle;
            color:white;

        }
    }

}

#pixi-container
{
    height:100%;
    position:absolute;
    canvas { margin:0 auto; }
}

.centralizer
{
    overflow:hidden;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;

    #game-info
    {
        width:100%;
        height:100%;
  

        transition: opacity, .5s, ease-out;

         //Trim the header and footer
        $a-bit-extra:60px;

        padding: $header-height + $a-bit-extra 0 $footer-height + $a-bit-extra 0;

        @media(max-width: $screen-xs-max) {
            $a-bit-extra:20px;
            padding-bottom: $mobile-footer-height + $a-bit-extra;
        }  

        @media (max-height: $tablet-height) {
            padding-top: $header-height+20px;
            padding-bottom: $mobile-footer-height+20px;


        }

        @media(max-height: $phone-md-height) {
            padding-top: $header-height+20px;
            padding-bottom: $mobile-footer-height + 20px;
        }

        @media(max-height: $phone-sm-height) {
            padding-top: $header-height+20px;
            padding-bottom: $mobile-footer-height + 20px;
        }

        @media(max-height: $phone-xs-height) {
            padding-top: $header-height+5px;
            padding-bottom: $mobile-footer-height + 5px;
        }
        
        p { margin:0; padding:0; }

        .message
        { 
            position:relative;
            margin:0 auto;
            height: 100%;  

            text-align:center;
            color:#fff;      

            .above, .below {
                position:absolute;
                width:100%;
            }

            .above{ top: 0 }             
            .below{ bottom: 0 }   

            &.full-screen
            {
                position: absolute;
                display:table;
                top: 0;
                left: 0;
                width: 100%;
                max-width:100%;
                max-height: 100%;

                .over{
                    display:table-cell;
                    vertical-align: middle;
                }                
            }

            .circle-large {
                width: 300px!important;
                height: 300px!important;

                margin:0 auto;

                border-radius: 50%;

                @media (max-height: $phone-xs-height) {
                    width: 250px!important;
                    height: 250px!important;

                }
                
                //Sharing template style overrides
                .share .tagline { color:#fff; font-size:1.5rem }

            }

            .circle-small {
                width: 180px!important;
                height: 180px!important;

                margin:0 auto;

                border-radius: 50%;

                @media(min-width: $screen-lg ) {
                        width: 130px!important;
                        height: 130px!important;
                }

                @media(max-height: $phone-md-height) {

                    width: 80px!important;
                    height: 80px!important;
                }

                @media (min-height: $phone-md-height) {
                    width: 100px!important;
                    height: 100px!important;
                }

                @media (max-height: $phone-xs-height) {
                    width: 60px!important;
                    height: 60px!important;
                }

               
            }            
        }

        .init-game
        {
            .logo {
                margin:0 auto;
                width: 300px;
                line-height: 0;
            }

            .header {
                color: $mid-grey !important;
                font-size: 15px; //21
                margin: 0 auto 20px auto;
            }

            a.game-button {
                @include green-button();
            }

            @media (max-height: $tablet-height) {
                .logo { width: 200px }
            }               
            
            @media (max-height: $phone-md-height) {
                .logo { width: 140px; }
                .header { font-size:12px; margin-bottom: 10px; }

            }
    
             @media (max-height: $phone-sm-height) {
                .logo { width: 140px }
                .header { font-size:12px; margin-bottom: 10px; }
            }



        }

        .start-game
        {
            background-color: $lg-pink;

            .logo {
                margin: 0 auto 10px 0;
                max-width:60%;
            }

            .prompt {
                //color: rgb(196,2,82);
                font-size: 2em !important;
                font-weight: bold;
                margin: 0 auto;
                text-transform: uppercase;
            }

            @media(max-height: $phone-md-height) {
                .header {
                    font-size: 16px!important; //340
                }
                .round {
                    font-size: 20px!important; //340
                }
            }

            @media (max-height: $phone-xs-height) {
                .header {
                    font-size: 16px!important; //340
                }
                .round {
                    font-size: 20px!important; //340
                }
            }
        }

        .play-game
        {
            //With only a single button in the element to which this class is applied, we must override the #game-info align-items property;
            a.game-button {
                @include green-button();
            }

            .logo {
                margin:0 auto;
                width: 300px;
                line-height: 0;
            }
            
            @media (max-height: $tablet-height) {
                .logo { width: 200px }
            }               
            
            @media (max-height: $phone-md-height) {
                .logo { width: 140px; }
                .header { font-size:12px; margin-bottom: 10px; }

            }
    
            @media (max-height: $phone-sm-height) {
                .logo { width: 140px }
            }       


        }

        .ready-game
        {
            a {
                display:table;
                width:100%;
                height: 100%;
                background-color:#000;
            }

            .logo {
                display:table-cell;
                vertical-align:middle;
                margin: 0 auto;
                max-width:80%;
            }

        }

        .counter
        {
            display: table;
            .over { display:table-cell; vertical-align: middle; }
            .circle-small { display:table-cell; vertical-align: middle; background: rgba(241,149,15,.9)!important; }
            
            color:#fff;
            font-weight:bold;


            .remaining
            {
                font-size: 3em;
                line-height: 1em;
            }
            @media (max-height: $phone-xs-height) {
                    .remaining { font-size: 2em}
                    .round { font-size: 12px}

            }

        }

        .retry, .nextlevel
        {

            display: table;
            text-align:center;

            font-size: 3rem;
            line-height: 1em;

            @media(max-height: $phone-xs-height) {
                font-size: 2.5rem;
            }            

            .over {
                display:table-cell;
                vertical-align: middle; margin:0 auto;

                p { margin-bottom:10px; }

                a.game-button {
                    @include white-button();
                }

            }

            .social  { margin-top:15px }                  
        }

        .retry
        {
            $pink: rgba(196,2,82,.8);
            .circle-large { display:table-cell; vertical-align: middle; background: $pink !important; }
            a.game-button { color: $pink !important; }
        }

        .nextlevel
        {
            $green: rgba(92,187,139,.9);
            .circle-large { display:table-cell; vertical-align: middle; background: $green !important; }
            a.game-button { color: $green !important; }            
        }
    }
}

.animate-show, .animate-hide
{
    transition: opacity 1s ease-out;

}

.animate-show {
    opacity: 0;

}

.animate-show.animate-show-active {
    opacity: 1;
}

.animate-hide {
    opacity: 1;
}

.animate-hide.animate-hide-active {
    opacity: 0;
}