@mixin pink-ul()
{
     ul {
        list-style: none;
        padding:0;
        margin:0;

        li { 
            padding-left: 1em; 
            text-indent: -.7em;
        }

        li:before {
            content: "• ";
            font-size:2em;
            color: $lg-pink; /* or whatever color you prefer */
        }
    }
}

.intro
{
    p
    {
        font-size:1.2em;
    }
}

.howtoplay
{
    margin-bottom:20px;
    h1 { font-weight: normal }
    h2 { text-align:center }

    $w: 350px;
    $h: 280px;    

    .diagram
    {
        margin: 0 auto;

        width: $w;
        height: $h;
        background:url('../images/howtowin.png') top left;
    } 

    @for $i from 1 through 4
    {
        .step#{$i}
        {

            @media(max-width: $screen-sm-max ) {
                p{ width:75%; margin:0 auto }
            }

            .diagram
            {
                background-position: 0 - $w 0 - ($i - 1) % 4 * $h;

                @media(max-width: $screen-md-max) {
                    background-position: 0 0 - ($i - 1) % 4 * $h;
                }            

                @media(max-width: $screen-xs-max) {
                    width: 280px;
                    //-35 = - background-image.width / 2;
                    background-position: -35px 0 - ($i - 1) % 4 * $h;
                }
            }
        }
    }
}

.win
{
    h1 {
        font-size:4rem;
        small { margin-top:10px; }
    }

    .game-info
    {    
        img
        {
            width:200px;
            @media (max-width: $screen-xs-max){ width:100px; };
            height:auto
        }
        
       & small
       {
        color: $lg-pink;
        display:block;
        margin-bottom: 20px;
       }
    } 

    .prize-info
    {
        padding-bottom:40px;
        @media (min-width: $screen-sm){ padding:40px 15px };
        background: #fff;

        p
        {
            color:$mid-grey;
            strong
            {
                font-size: 1.8em;
                line-height: .9em;
            }
        }

        img 
        {
            width:400px;
            height:auto;
            top:-55px;
            position:absolute;
            z-index: 10;

            @media (max-width: $screen-md-max){ top:-60px; };
            @media (max-width: $screen-xs-max) { display:none };
        }

    }

    .skew
    {
        position: absolute;
        height:150px;
        width:100%;
        margin-top:-50px;
        background:$mid-grey;
        transform: skewY(-1.6deg);
    }

    .redemption
    {   
        color:#fff;
        padding:30px 0;
        background:$mid-grey;

        ::placeholder, input, select {
          color: $lg-pink;
        }

        form
        {
            .form-controls { width: 50% }
            @media (max-width: $screen-xs-max) { .form-controls { width: 100%; } }

            legend {  border: 0; color: #fff }

            input
            {
                &.ng-invalid.ng-dirty {
                    border: 2px solid #FA787E;
                }
         
                &.ng-valid.ng-dirty {
                    border: 2px solid #78FA89;
                }
            }
        }

        .confirmation        
        {
            margin-top:-20px; //Push the copy back up, the skew having pushed it down
            text-align: center;

            h2 { color:#fff }
        }
    }

    .share
    {
        margin-top:20px;
    }
}

.about
{
    margin-bottom:20px;

    img.lg-g2-logo
    {
        display:inline;
        width:auto;
        height: 1.5em;
    }

    h1, h2 { font-weight:normal }
    h1 { margin:1em 0 }
    h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        color: $dark-grey;
        &.all-about-knockon { color: $lg-pink }
    }

    .flex-video {
          position: relative;
          padding-top: 25px;
          padding-bottom: 67.5%;
          height: 0;
          margin-bottom: 16px;
          overflow: hidden;
    }
     
    .flex-video.widescreen { padding-bottom: 57.25%; }
    .flex-video.vimeo { padding-top: 0; }
     
    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
      .flex-video { padding-top: 0; }
    }

    .intro p
    {
        font-size:1.2em;
    }

    .all-about-knockon
    {
        font-size: 1.2em;
        .logos
        {
            width:90%;
            margin: 0 auto;

            img {
                width:100%; 
                height:auto;
            }
        }    
    }

    @include pink-ul();

    .three-more-features
    {
        text-align: center;
        p {text-align: left }
    }
}

.prizes
{
    margin-bottom:20px;

    h1, h2 { font-weight:normal }
    h1 { margin:1em 0 }  

    @include pink-ul();

    .descriptions
    {
        ul { font-size:1.2em; }

        img { width:100%; height:auto }
    }

    .play-now
    {
        padding-top:0;
        text-align:center;

        .btn-play {
            @include green-button();
        }

        @media (min-width:$screen-sm)
        {
            padding-top:0;

            .btn-play { margin-left: 0; } 

            p {
                display:inline;
                margin-right:30px;
            }
        }

    }


}