/*
>#wrap used to force the footer to the bottom of all pages
>#wrap.noscroll takes the header out of the document flow, to allow for better scaling and centering of subsaquent content.
 The PIXI canvas sits at the bottom and occupies the entire screen.
 The .centralizer sits directly over the canvas, and is used to display game info.
 The header and the footer are then ordered above these two elements (z-index), in order to maintain interactivity.

 */

.container-fluid { margin:0 15px }

.form-control, .btn { border-radius: 0; }

.btn{ text-transform:uppercase }

* { font-family: 'Cabin', sans-serif; }

html, body {
   height: 100%;

}

body {
    & .noscroll
    {
        background:url('../images/bg_textile.jpg');
    }
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}


//Used to stick footer to base of page
#wrap {
    min-height: 100%;
    height:auto;
    position:relative;
    margin-bottom: 0 - $footer-height;
    padding-bottom: $footer-height;

    @media(max-width: $screen-md-max) {
        margin-bottom: 0 - $mobile-footer-height;
        padding: 0 0 $mobile-footer-height;
    }

    &.noscroll
    {
        // http://www.456bereastreet.com/archive/201306/height_in_percent_when_parent_has_min-height_and_no_height/
        height: 1px;
        padding-bottom: 0;
    }

}

.browsehappy
{
    background:#fff;
    font-size:16px;
    height:50px;
    line-height:50px;
    position:absolute;
    text-align: center;
    width:100%;
    z-index:10;
}

header
{
    margin:0 auto;
    position:relative;

    //On the non-scrolling pages, the header is pulled out of the document flow to make easier the scaling and centering of subsaquent elements.
    .noscroll & {
        position:absolute;
        z-index:2;
    }

    width:100%;
}

.navbar
{
    border:0;
    background:#fff;
    margin:0;

    > .container
    {
        & .navbar-brand
        {
            padding:5px;
            cursor:pointer;
        }
    }

    ul.nav
    {
        text-transform: uppercase;

        a {
            color:$mid-grey;
            background-color:#fff;

            &.play
            {
                color:$lg-pink;
                &:hover {
                    color:#fff;
                    background-color:$lg-pink;
                }
                 
            }

            &:hover {
                color:#fff;
                background-color:$mid-grey;
            }

        }

    }
}

#ui-view
{
    min-height:100%;
}

footer {
  position:relative;
  z-index:2;
  background-color: $mid-grey;
  color:#fff;
  height: $footer-height;

  overflow:hidden;
  text-transform: uppercase;

  > div { line-height: $footer-height; }

  & a {
    color:#fff;
    &:hover {color:#fff;}
  }

    @media(max-width: $screen-md-max) {
        height: $mobile-footer-height;
        > div { line-height: $mobile-footer-height; }
    }

}

//Bits and pieces...

h1, h2
{
    color: $lg-pink;
    font-weight: bold
}

hr
{
    border-top:1px solid $light-grey;
}

.select-method
{
    @media(max-width : screen-md-max) {
        display:none;
        &:after{ content:"tap" }
    }
}

.share
{
    $icon-size:45px;

    height:$icon-size;
    text-transform:uppercase;
    text-align:center;

    p
    {
        color:$mid-grey;
        font-size: 1.5em;
    }

    .icon-social
    {
        display:inline-block;
        vertical-align: middle;
        width: $icon-size;
        height: $icon-size;
        background: url('../images/social_icons.png') repeat-y;
        transition: background-position .2s ease-out;
        margin-bottom:5px;

        $list: facebook twitter googleplus;
        $count: 0;

        @each $social in $list
        {
            &.icon-#{$social}
            {
                background-position:0 - $icon-size * $count - 0;
                &:hover { background-position:0 - $icon-size * $count 0 - $icon-size; }
            }
            $count: $count + 1;
        }
    }
}