<div class="container about">
	<div class="row">
		<div class="col-sm-12">
			<h1>About the LG G2</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="div row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="flex-video widescreen">
						<iframe width="640" height="360" src="//www.youtube.com/embed/o97SEJgrDxg" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="row">
						<div class="col-sm-8">
							<h2>Introducing the award-winning LG G2</h2>
							<p>Equipped with the latest cutting edge technology, the award winning LG G2 is a true powerhouse smartphone that delivers greater speed in a sophisticated slim line design. Its full HD display coupled with a near zero bezel screen and huge battery 3000mAh battery mean that you can consumer media better and longer than ever before.</p>
							<p>Available in both black and white.</p>
						</div>
						<div class="col-sm-4">
							<img src="images/stuff-awards.png" alt="Stuff website awards logo">
						</div>
					</div>
				</div>	
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-5">
					<img class="pull-right" src="images/handset-key-features.png" width="228" height="271" alt="LG G2 handset, front and back">
				</div>
				<div class="col-sm-7">
					<h2>Key Features</h2>
					<ul>
						<li>5.2" Full HD IPS display with near zero bezel</li>
						<li>13 MP OIS Camera</li>
						<li>Long lasting 3000mAH battery</li>
						<li>Instinctive design with refined rear key</li>
						<li>Knock ON – the new way to turn your device on and off</li>
					</ul>
				</div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-sm-3">
					<img class="knockon-logo" src="images/logo-normal.png" alt="KnockOn Logo">
				</div>
				<div class="col-sm-9">
					<h2 class="all-about-knockon">All about Knockon...</h2>
					<p>A simple knocking gesture is all it takes. Just knock twice on the G2 to gently wake your phone’s display without picking it up or pressing the power key. G2 senses the gesture and turns the display on.</p>
				</div>
			</div>
			<hr>			
			<div class="row three-more-features">
				<div class="col-sm-4">
					<img src="images/lgg2-battery-icon.png" width="134" height="50" alt="Battery Life Icon">
					<h2>Amazing Battery Life</h2>
					<p>The G2 features a large 3000mAh capacity battery with SiO+ technology. This best in class battery and processor offers two times better power consumption, so you can enjoy all the multi-tasking you need and want for longer.</p>
				</div>
				<div class="col-sm-4">
					<img src="images/lgg2-ipsdisplay-icon.png" width="137" height="50" alt="IPS Display Icon">
					<h2>5.2” Full HD IPS Display</h2>
					<p>The G2 features a large 3000mAh capacity battery with SiO+ technology. This best in class battery and processor offers two times better power consumption, so you can enjoy all the multi-tasking you need and want for longer.</p>
				</div>
				<div class="col-sm-4">
					<img src="images/lgg2-ois-icon.png" width="136" height="50" alt="13-megapixel OIS camera">
					<h2>13-megapixel OIS camera</h2>
					<p>The stunning 13-megapixel camera delivers crystal clear photos even under dark or shaky conditions with the built-in Optical Image Stabiliser. It's great for night photography too - lower light settings usually need longer exposures, but with OIS you can get amazing low-light shots. Plus, Multi-point Auto Focus (AF) initiates fast and accurate focus for multiple faces or moving objects.</p>
				</div>
			</div>
		</div>
	</div>
</div>