<div class="container-fluid win">
	
	<div class="row game-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-9 col-sm-offset-2 col-md-offset-3">
					<img src="images/logo-normal.png" alt="KnockOn Logo">
					<img src="images/logo-knockcode-normal.png" alt="KnockCode logo">
					<h1>Thank you!<small>You have now been entered into our prize draw.</small></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row prize-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-3  col-sm-offset-3">
					<p><strong>Over £10,000 worth of prizes to be won!</strong></p>
					<p>LG G2, G Flex, Smart TV's, LG G Pads, and Soundbars up for grabs!</p>
				</div>
				<div class="col-sm-3">
					<img src="/images/prizes.png">
				</div>
			</div>
		</div>
	</div>

	<div class="row redemption">
		<div class="skew"></div>
		<div class="container">
			<div class="row confirmation">
				<div class="col-sm-6 col-sm-offset-3">
					<h2>Feeling lucky?</h2>
					<p>Play again for another chance to win</p>
					<a ui-sref="game.init" class="btn-play" href="">PLAY AGAIN?</a>
				</div>
			</div>
		</div>
	</div><!-- .win-form -->

	<div class="row share">
		<div class="col-xs-12">
			<ng-include src="'/views/share.html'" ng-init="class = 'block'; message = 'Share with your friends'" class="message-block"></ng-include>
		</div>
	</div>

</div>