<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>How to play</h1>
			<p>Having trouble? Not a problem here's how to play...</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="howtoplaystep step1"></div>
			<h2>Step 1: Go!</h2>
			<p>Hit 'Play' from home screen to set the cards in motion. Keep an eye out for a special G2 Ace amongst the other cards in the pack, you'll see it a few times while the pack is shuffled.</p>
		</div>
		<div class="col-sm-6">
			<div class="howtoplaystep step2"></div>
			<h2>Step 2: Lights out!</h2>
			<p>After a few seconds the screen will fade to black and the cards will disappear from view! However, they're still being shuffled in the darkness, and it's your job to pick out the G2 ace from the pack as it moves.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="howtoplaystep step3"></div>
			<h2>Step 3: Click!</h2>
			<p>Think you know whereabouts the Ace is hidden? Then double-tap! This will bring the lights back up, and you can see whether or not you've selected the correct card.</p>
		</div>
		<div class="col-sm-6">
			<div class="howtoplaystep step4"></div>
			<h2>Step 4: Winner?</h2>
			<p>With each successful pick we'll advance you onto the next round. Win ten rounds in a row and you'll be entered into our prize draw.</p>
		</div>
	</div>	
	<hr>
	<div class="row">
			<div class="col-sm-12">
				<div class="send-to-a-friend">
					<p>Send to a friend
						<a href="" class="icon-social icon-facebook"></a>
						<a href="" class="icon-social icon-twitter"></a>
						<a href="" class="icon-social icon-googleplus"></a>
					</p>
				</div>
			</div>
		</div>
</div>