<div class="container howtoplay" ng-controller="HowtoplayCtrl">
	<div class="row intro">
		<div class="col-sm-12">
			<h1>How to play</h1>
				<p>Having trouble? Not a problem, here's how to play...</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 step1">
			<h2>Step 1: Go!</h2>
			<div class="diagram"></div>
			<p>Hit 'Play' from home screen to set the cards in motion. Keep an eye out for a special LG Ace amongst the other cards in the pack, you'll see it a few times while the pack is shuffled.</p>
		</div>
		<div class="col-xs-12 col-sm-6 step2">
			<h2>Step 2: Lights out!</h2>
			<div class="diagram"></div>
			<p>After a few seconds the screen will fade to black and the cards will disappear from view! However, they're still being shuffled in the darkness, and it's your job to pick the LG Ace from the pack as it moves.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 step3">
			<h2>Step 3: Double-{{ !ismobile ? 'click' : 'tap'}}!</h2>
			<div class="diagram"></div>
			<p>Think you know whereabouts the LG Ace is hidden? Then double-{{ !ismobile ? 'click' : 'tap'}}! This will bring the lights back up, and you can see whether or not you've selected the correct card.</p>
		</div>
		<div class="col-xs-12 col-sm-6 step4">
			<h2>Step 4: Winner?</h2>
			<div class="diagram"></div>
			<p>With each successful pick we'll advance you onto the next round. Win ten rounds in a row for the chance to enter our prize draw.</p>
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<ng-include src="'/views/share.html'" ng-init="class = 'block'; message = 'Share with your friends'" class="message-block"></ng-include>
		</div>
	</div>
</div>