<div class="nextlevel">
<div>
    <h1>Congratulation! You did it.</h1>
    <a ui-sref="redemption" class="game-button inline">Enter the prize draw &gt;</a>
    <div class="social">
        <ul class="nav nav-pills">
            <li>Share</li>
            <li><a ng-href="#" class="btn-facebook fa fa-facebook fa-lg"></a></li>
            <li><a ng-href="#" class="btn-twitter fa fa-twitter fa-lg"></a></li>
            <li><a ng-href="#" class="btn-google-plus fa fa-google-plus fa-lg"></a></li>
        </ul>
    </div>
    </div>
</div>