<div class="message retry">
        <div class="banner-left {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include class="banner-include" src="'/views/banner-vertical.html'"></ng-include></div>

    <div class="over">
    	<div class="circle-large">
		    <p><strong>You've been <br> knocked out!</strong></p>
		    <a ng-click="restart()" class="game-button" href="">Retry round {{level}}</a>
		    <div class="social">
			    <ng-include src="'/views/share.html'" ng-init="message = 'Share'"></ng-include>
		    </div>
		</div>

	</div>

    <div class="banner-bottom {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include src="'/views/banner-horizontal.html'"></ng-include></div>
    <div class="banner-right {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include class="banner-include" src="'/views/banner-vertical.html'"></ng-include></div>
    
</div>