<div class="message nextlevel">

    <div class="banner-left {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include src="'/views/banner-vertical.html'"></ng-include></div>

    <div class="over">
        <div class="circle-large">
            <div class="inner-content">
                <p><strong>Congratulations!<br/>You did it.</strong></p>
                <a ui-sref="redemption" class="game-button inline">Enter the prize draw &gt;</a>
                <div class="social">
                    <ng-include src="'/views/share.html'" ng-init="message = 'Share'"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-bottom {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include src="'/views/banner-horizontal.html'"></ng-include></div>
    <div class="banner-right {{ ismobile ? 'mobile' : 'desktop'}}"><ng-include src="'/views/banner-vertical.html'"></ng-include></div>


</div>