<div class="message nextlevel">

    <div class="banner-left"><ng-include src="'/views/banner-vertical.html'"></ng-include></div>

    <div class="over">
		<div class="circle-large">
            <div class="inner-content">
	        <p><strong>You knocked <br> that one <br> out the park!</strong></p>
	        <a ng-click="next()" class="game-button" href="">Go to round {{ level+1 }}</a>
	        <div class="social">
		        <ng-include src="'/views/share.html'" ng-init="message = 'Share'"></ng-include>
	        </div>
            </div>
	    </div>
    </div>

    <div class="banner-bottom"><ng-include src="'/views/banner-horizontal.html'"></ng-include></div>
    <div class="banner-right"><ng-include src="'/views/banner-vertical.html'"></ng-include></div>


</div>