<div class="container prizes">
	<div class="row">
		<div class="col-sm-8">
			<h1>Play the KnockOn game now and win part of a £10,000 LG prize jackpot</h1>
			<p>KnockOn to guess where the Ace is hiding in a pack of spinning cards. The more times you guess correctly, the greater your chance of winning one of our incredible LG prizes.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<ul>
				<h2>PRIZES INCLUDE:</h2>
				<li>LG 55" Curved OLED TV LG </li>
				<li>42" Smart TVs </li>
				<li>LG G Flex Smartphone </li>
				<li>LG G2 Smartphone </li>
				<li>LG G Pad 8.3</li>
				<li>LG Soundbar</li>
			</ul>
		</div>
		<div class="col-sm-8">
			<img src="images/prizes.png" alt="Prizes that you can win">
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-offset-4">
			
		</div>
	</div>	
</div>