<div class="container-fluid win">
	
	<div class="row game-info">
		<div class="col-sm-12">
			<h1>Well Done!<small>You've completed all the levels!</small></h1>
			<ng-include src="'/views/partials/share.html'"></ng-include>
		</div>
	</div>
	<div class="row prize-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3 col-md-offset-3 col-sm-offset-2">
					<p><strong>Over £10,000 worth of prizes to be won!</strong></p>
					<p>LG G2, G Flex, Smart TV's, LG G Pads, and Soundbars up for grabs!</p>
				</div>
				<div class="col-sm-1 col-md-3">
					<img src="/images/prize.png">
				</div>
			</div>
		</div>
	</div>

	<div class="row redemption">
		<div class="skew"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-offset-2 col-md-offset-3">

					<form name="redemptionForm" ng-controller="redemptionFormCtrl" ng-submit="submit()" novalidate >
						<fieldset>
							<legend>Complete this form to be entered in our prize draw:</legend>
							
							<div class="form-controls">
								<div class="form-group"><input type="text" class="form-control" id="name" ng-model="player.name" placeholder="name" required></div>
								<div class="form-group"><input type="email" class="form-control" id="email" ng-model="player.email" placeholder="email" required /></div>
						     	<div class="radio">
								  <label>
								    <input type="radio" name="locations" id="locationsUK" ng-model="player.location" ng-checked="player.location" value="uk"> UK
								  </label>
								</div>
								<div class="radio">
								  <label>
								    <input type="radio" name="locations" id="locationsIreland" ng-model="player.location" value="ireland"> Ireland
								  </label>
								</div>
						      	<select class="form-control" ng-model="player.network" required>
						      	  <option disabled="disabled" value="">Mobile Network</option>
								  <option>3</option>
								  <option>EE</option>
								  <option>Orange</option>
								  <option>O2</option>
								  <option>T-Mobile</option>
								  <option>Vodafone</option>
								  <option>Other</option>
								</select>
						    	<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="player.agree" required>
								    	Do you agree with our terms and conditions?
								  	</label>
								</div>									
						    	<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="player.optout">
								    	I <strong>DO NOT</strong> want to recieve email updates about this game.
								  	</label>
								</div>							
					      	<button type="submit" class="btn pull-right" ng-class="{ 'btn-success' : redemptionForm.$valid, 'btn-danger' : !redemptionForm.$valid }" ng-disabled="!redemptionForm.$valid" ng-click="">ENTER</button>
					    </fieldset>
				    </form>
			    </div>
			</div>
		</div>
	</div>

</div>